.my_collection {
  color: white;
  min-height: calc(100vh - 73px - 100px);
  display: flex;
  padding: 50px 30px 0;
  flex-direction: column;
  box-sizing: border-box;
}
.my_collection .block_title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my_collection .block_title > h1 {
  z-index: 2;
  position: relative;
  font-size: 35px;
  color: white;
  margin-bottom: 40px;
  width: max-content;
}
.my_collection .block_title > h1::before {
  z-index: -4;
  position: absolute;
  content: "";
  width: 55%;
  height: 8px;
  background-color: var(--gamepad-red);
  bottom: 0px;
  left: 0;
}

.collection {
  width: 1300px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.collection_card {
  overflow: hidden;
  position: relative;
  width: 240px;
  height: 300px;
  background-color: tomato;
  margin-right: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px white;
}
.collection_card .delete_block {
  transition: all 0.3s ease 0.15s;
  position: absolute;
  display: none;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 15%;
  background-color: rgb(44, 43, 43, 0.6);
}
.collection_card .delete_from_collection_icon {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
  cursor: pointer;
}
.collection_card .delete_from_collection_icon:hover {
  transform: scale(1.5);
}
.collection_card:hover .delete_block {
  display: block;
}
.collection_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.collection_card .card_text {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 95%;
  padding: 0 5px;
  font-size: large;
}
.collection_card .card_title {
  color: #fff;
}
.collection_card .bookmark_icon {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 2;
  font-size: 30px;
}
