footer {
  margin-top: auto;
  border-top: 1px solid rgb(95, 94, 94);
  width: 100vw;
  display: flex;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
  background-color: #171719;
  font-size: 13px;
  line-height: 16px;
  height: 100px;
  width: 100%;
}
footer span,
footer a {
  cursor: pointer;
  font-weight: bold;
  color: rgb(202, 196, 196);
  text-decoration: none;
}
footer .api {
  text-decoration: underline;
}
