/*------------------------ FILTER BLOCK ------------------------ */
.home_main .filter {
  font-family: "Exo", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px;
}
.home_main .filter > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_main .filter .go_filters_btn {
  background-color: var(--gamepad-red);
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  font-size: 1rem;
  line-height: 20px;
  font-family: "Exo", sans-serif;
  border: none;
}
.home_main .filter select {
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(95, 94, 94);
  border-radius: 8px;
  height: 30px;
  color: white;
  margin-right: 20px;
}
.home_main .filter select option {
  font-size: 20px;
}
.home_main .filter span {
  color: white;
  padding: 6px 5px 8px;
  border-radius: 8px 0 0 8px;
}
@media (max-width: 900px) {
  .home .home_main {
    padding: 0 20px;
  }
  .filter {
    justify-content: flex-start;
    flex-direction: column;
  }
  .filter > div {
    margin-bottom: 10px;
  }
}
@media (max-width: 520px) {
  .home .home_main {
    padding: 0 10px;
  }
  .home_main .filter {
    align-items: flex-start;
    flex-direction: column;
    padding: 0 10px 20px;
  }
  .home_main .filter > div {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3px;
    flex-direction: column;
  }
  .filter p {
    display: flex;
    align-items: center;
  }
  .filter .filter_col_1 > p {
    margin-bottom: 8px;
  }
  .filter .filter_col_2 > p {
    margin-bottom: 8px;
  }
}
