/*------------------------ GLOBAL RULES ------------------------ */
:root {
  --gamepad-red: #ff4655;
}
body {
  font-family: "Exo", sans-serif;
  background-color: #171719;
}
.container {
  width: 1380px;
  margin: 0 auto;
  background-color: #1f2023;
}

.alertify .ajs-footer .ajs-buttons .ajs-button {
  background-color: var(--gamepad-red) !important;
  border-radius: 5px;
  color: aliceblue;
  border: none;
}

/* @media (max-width: 575.98px) {
  ...;
} */

/* @media (max-width: 767.98px) {
  ...;
} */
/* 
@media (max-width: 991.98px) {
  ...;
} */

/* @media (max-width: 1199.98px) {
  ...;
} */

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1380px) {
  .container {
    box-sizing: border-box;
    width: 100%;
  }
}
